<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Summary</title>
    <link href="../stylesheets/style.css" rel="stylesheet" />
    <script src="../javascripts/script.js" defer></script>
    <script src="javascripts/leaderboard.js"></script>
</head>

<body>
    <div class="containerB">
        <div id="game">
            <h1> Leaderboard</h1>
            <ul id="players"></ul>
            <Button onclick=resetTermination()>Restart</Button>
        </div>
    </div>
</body>

</html>