<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memory Game</title>
    <link href="../stylesheets/style.css" rel="stylesheet" />
    <script src="../javascripts/script.js" defer></script>
</head>

<body onload="preview()">
    <div>
        <label type="text" class="Tiles" name="Tiles">Tiles: 3</label>
        <label type="text" class="Trial" name="Trial">Trial: 1</label>
        <label type="text" class="Score" name="Score">Score: 0</label>
        <Button onclick="terminate('')">Terminate</Button>
    </div>
    <div class="container">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>

</body>
</html>